<header>
  <nav>
    <div class="nav-wrapper grey darken-4">
      <a routerLink="/home" class="brand-logo center">AUDS</a>
      <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/timetable" class="golden">Timetable</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/home">AUDS</a></li>
    <li><a routerLink="/timetable">Timetable</a></li>
  </ul>
</header>

<body>
  <router-outlet></router-outlet>
</body>

<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">

      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contacts</h5>
        <ul class="golden">
          <li><a class="text-lighten-3" href="https://www.facebook.com/AberdeenUniversityDanceSociety/" target="_blank">Facebook</a></li>
          <li><a class="text-lighten-3" href="https://www.instagram.com/au_dancesociety/" target="_blank">Instagram</a></li>
          <li>dance@abdn.ac.uk</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container">
      © 2018 Aberdeen University Dance Society
    </div>
  </div>
</footer>
